In [35]:
import pandas as pd
import pyodbc

# ===========================
# 1Ô∏è‚É£ Database Connection Info
# ===========================
server = "192.168.16.15"
database = "SGCCafe"     # 
username = "sa3"
password = "Dan00Iel"          

# Connection string for SQL Server Authentication
conn_str = (
    f"DRIVER={{ODBC Driver 17 for SQL Server}};"
    f"SERVER={server};"
    f"DATABASE={database};"
    f"UID={username};"
    f"PWD={password}"
)

In [36]:
try:
    conn = pyodbc.connect(conn_str)
    print("‚úÖ Successfully connected to SQL Server.")
except Exception as e:
    print(f"‚ùå Connection failed: {e}")
    raise

‚úÖ Successfully connected to SQL Server.

In [37]:
selected_date = "2025-11-07"  # üîπ Change this to your desired date

query = """
SELECT
    Accounting.AccoID,
    Accounting.AccoDate,
    Accounting.AccoDocNo,
    Accounting.AccoTypeId,
    Accounting.AccoAmount,
    Accounting.AccoDebit,
    Accounting.AccoCredit,
    Accounting.VatRateId,
    Accounting.VatAmount,
    Accounting.SessionID,
    Accounting.AuditNo,
    Accounting.AuditSubNo,
    Accounting.WeekNo,
    Accounting.Total,
    Accounting.AccoDateStamp,
    AccountingDetails.Quantity,
    AccountingDetails.Discount,
    AccountingDetails.UnitPrice,
    StockCategory.StockCateDesc,
    StockNames.StockName,
    StockSize.StockSizeDesc,
    StockDescriptions.StockDesciption
FROM
    StockDescriptions
    RIGHT OUTER JOIN AccountingDetails ON StockDescriptions.StockDescId = AccountingDetails.StockDescId
    LEFT OUTER JOIN StockSize ON AccountingDetails.StockSizeID = StockSize.StockSizeID
    LEFT OUTER JOIN StockNames ON AccountingDetails.StockNameID = StockNames.StockNameID
    LEFT OUTER JOIN StockCategory ON AccountingDetails.StockCateID = StockCategory.StockCateID
    RIGHT OUTER JOIN Accounting ON AccountingDetails.AccoID = Accounting.AccoID
WHERE
    Accounting.AccoTypeId = 7
    AND CAST(Accounting.AccoDate AS DATE) = ?
ORDER BY
    Accounting.AccoID;

"""

In [38]:
try:
    df = pd.read_sql(query, conn, params=[selected_date])
    print(f"‚úÖ Retrieved {len(df)} records for {selected_date}")
except Exception as e:
    print(f"‚ùå Query execution failed: {e}")
    conn.close()
    raise

C:\Users\mrosk\AppData\Local\Temp\ipykernel_3544\4231047077.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn, params=[selected_date])

‚úÖ Retrieved 531 records for 2025-11-07

In [39]:
conn.close()

In [40]:
display(df.head())

,AccoID,AccoDate,AccoDocNo,AccoTypeId,AccoAmount,AccoDebit,AccoCredit,VatRateId,VatAmount,SessionID,...,WeekNo,Total,AccoDateStamp,Quantity,Discount,UnitPrice,StockCateDesc,StockName,StockSizeDesc,StockDesciption
0,1170787,2025-11-07 08:36:00,224871/3,7,-143.0,143.0,0.0,0,0.0,19366,...,45,True,2025-11-07 08:36:08.457,1.0,0.0,25.0,Beverages Coffee,COFFEE,cup,americano
1,1170787,2025-11-07 08:36:00,224871/3,7,-143.0,143.0,0.0,0,0.0,19366,...,45,True,2025-11-07 08:36:08.457,1.0,0.0,29.0,Beverages Coffee,COFFEE,regular,cappuccino
2,1170787,2025-11-07 08:36:00,224871/3,7,-143.0,143.0,0.0,0,0.0,19366,...,45,True,2025-11-07 08:36:08.457,1.0,0.0,89.0,Tramezinni's,TRAMEZZINI,None,breakfast caf√©
3,1170794,2025-11-07 08:38:00,224872/4,7,-213.0,213.0,0.0,0,0.0,19367,...,45,True,2025-11-07 08:38:02.730,1.0,0.0,16.0,Extra,EXTRA,sub,toast gluten free breakfast 2
4,1170794,2025-11-07 08:38:00,224872/4,7,-213.0,213.0,0.0,0,0.0,19367,...,45,True,2025-11-07 08:38:02.730,1.0,0.0,23.0,Beverages Coffee,COFFEE,None,espresso

In [41]:
df.to_csv(f"../db/cafe_pos_{selected_date}.csv", index=False, encoding="utf-8-sig")

In [42]:
df

,AccoID,AccoDate,AccoDocNo,AccoTypeId,AccoAmount,AccoDebit,AccoCredit,VatRateId,VatAmount,SessionID,...,WeekNo,Total,AccoDateStamp,Quantity,Discount,UnitPrice,StockCateDesc,StockName,StockSizeDesc,StockDesciption
0,1170787,2025-11-07 08:36:00,224871/3,7,-143.0,143.0,0.0,0,0.0,19366,...,45,True,2025-11-07 08:36:08.457,1.0,0.0,25.0,Beverages Coffee,COFFEE,cup,americano
1,1170787,2025-11-07 08:36:00,224871/3,7,-143.0,143.0,0.0,0,0.0,19366,...,45,True,2025-11-07 08:36:08.457,1.0,0.0,29.0,Beverages Coffee,COFFEE,regular,cappuccino
2,1170787,2025-11-07 08:36:00,224871/3,7,-143.0,143.0,0.0,0,0.0,19366,...,45,True,2025-11-07 08:36:08.457,1.0,0.0,89.0,Tramezinni's,TRAMEZZINI,None,breakfast caf√©
3,1170794,2025-11-07 08:38:00,224872/4,7,-213.0,213.0,0.0,0,0.0,19367,...,45,True,2025-11-07 08:38:02.730,1.0,0.0,16.0,Extra,EXTRA,sub,toast gluten free breakfast 2
4,1170794,2025-11-07 08:38:00,224872/4,7,-213.0,213.0,0.0,0,0.0,19367,...,45,True,2025-11-07 08:38:02.730,1.0,0.0,23.0,Beverages Coffee,COFFEE,None,espresso
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
526,1171926,2025-11-07 15:50:00,225058/187,7,-78.0,78.0,0.0,0,0.0,19366,...,45,True,2025-11-07 15:49:52.053,2.0,0.0,39.0,Specials,SPECIAL,None,cake last slice
527,1171931,2025-11-07 15:53:00,225059/110,7,-94.4,94.4,0.0,0,0.0,19366,...,45,True,2025-11-07 15:52:55.197,2.0,0.2,59.0,Cakes,APPLE GALETTE PIE,None,none
528,1171939,2025-11-07 16:12:00,225060/177,7,-30.0,30.0,0.0,0,0.0,19366,...,45,True,2025-11-07 16:11:58.877,1.0,0.0,10.0,Extra,EXTRA,None,cream pouring
529,1171939,2025-11-07 16:12:00,225060/177,7,-30.0,30.0,0.0,0,0.0,19366,...,45,True,2025-11-07 16:11:58.877,1.0,0.0,20.0,Beverages Coffee,COFFEE,mug,americano black
530,1171947,2025-11-07 16:13:00,225061/73,7,-30.0,30.0,0.0,0,0.0,19366,...,45,True,2025-11-07 16:12:48.497,1.0,0.0,30.0,Extra,EXTRA,None,chicken mayo